#vote-modal.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type="button",data-dismiss="modal")
          span(aria-hidden="true") &times;
        h4.modal-title 編輯投票案
      .modal-body.text-center
        form.form-horizontal
          .form-group
            label.col-sm-2.control-label 投票名稱
            .col-sm-9: input.form-control(type="text",ng-model="mvote.name")
          .form-group
            label.col-sm-2.control-label 投票描述
            .col-sm-9: input.form-control(type="text",ng-model="mvote.desc")
          .form-group
            label.col-sm-2.control-label 最多票數
            .col-sm-9: input.form-control(type="text",ng-model="mvote.maxvote")
          .form-group
            label.col-sm-2.control-label 投票唯讀
            .col-sm-4.text-left
              .btn-group
                .btn.btn-warning(ng-class="{'active':mvote.readonly}",ng-click="mvote.setReadOnly(true)") ON
                .btn.btn-warning.active(ng-class="{'active':!mvote.readonly}",ng-click="mvote.setReadOnly(false)") OFF
            label.col-sm-2.control-label 刪除投票
            .col-sm-4.text-left
              .btn-group
                .btn.btn-danger(ng-click="mvote.remove()") 是的，我要刪除
          .form-group
            label.col-sm-2.control-label 選項列表
            .col-sm-9.planlist
              .label.label-success(ng-repeat="plan in mvote.plans",ng-click="mvote.delplan(plan)")
                | {{plan.name}} 
                i.glyphicon.glyphicon-remove
          .form-group
            label.col-sm-2.control-label 增加選項
            .col-sm-7: input.form-control(type="text",ng-model="mvote.newplanname")
            .col-sm-2: .btn.btn-primary(ng-click="mvote.newplan()") 增加


      .modal-footer
        button.btn.btn-primary(type="button",ng-click="mvote.save()") 儲存
        button.btn.btn-default(type="button",data-dismiss="modal") 取消

